.player-card {
    display: flex;
}

.total-score-div {
    padding: 1vmin;
    font-size: 1.1rem;
}

.frame-card {
    padding: 1vmin;
    height:10vh;
}

.frame-card h2 {
    font-size: 1rem;
}

.hidden {
    display: none;
}

.frame-score-div {
    display: flex;
}

.frame-score-1 {
    padding-right: 2vmin;
}